<div class="mat-row" [ngClass]="[row.CC, isExpanded ? 'expanded' : 'collapsed']" (click)="toggleExpanded(row)" *ngIf="row.JCN">

  <div class="mat-cell JCN">
    <span>{{row.JCN}}</span>
    <span class="small">{{row.prettyJCN}}</span>
  </div>

  <div class="mat-cell WorkCenter">
    <span>{{row.WorkCenter}}</span>
  </div>

  <div class="mat-cell EquipID">
    <span>{{row.EquipID}}</span>
  </div>

  <div class="mat-cell Discrepancy ellipses">
    <span>
      <mat-chip *ngFor="let tag of row.tags" class="tag" [selected]="!!tag.style" [color]="tag.style">{{tag.title}}</mat-chip>
      {{row.Discrepancy}}</span>
  </div>

  <div class="mat-cell LastUpdate ellipses">
    <span>
      <strong>{{row.timeStampPretty}}</strong> |
      <em>{{row.LastUpdate}}</em>
    </span>
  </div>

  <div class="mat-cell ApprovalStatus">
    <span>
      <mdt-update-job [job]="row" (onStatusChange)="onStatusChange.next($event)"></mdt-update-job>
    </span>
  </div>

</div>

<div class="mat-row job-details expanded-row {{row.CC}}" *ngIf="isExpanded">
  <mat-card class="job-history" *ngFor="let wce of jobData">
    <mat-card-header>
      <mat-card-title>
        <span>{{wce.Narrative}}</span>
        <span class="defer-code" *ngIf="wce.DeferCode">Defer Code: {{wce.DeferCode}}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4 *ngIf="!wce" class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element">Loading data...</h4>
      <div class="ddr-row {{ddr.Symbol}}" *ngFor="let ddr of wce.DDR">
        <div class="ddr">
          {{ddr.ddr}}
          <mat-chip class="tag" selected="true" color="dark" *ngIf="ddr.Closed">Closed</mat-chip>
        </div>
        <div class="data">
          <h3>
            <span>{{ddr.StartDate}}: {{ddr.StartTime}} - {{ddr.StopTime}}</span>
            <span>WUC: {{ddr.WorkUnitCode}}</span>
            <span>User: {{ddr.User}}</span>
          </h3>
          <p>{{ddr.Text}}</p>
          <small>
            <span *ngIf="ddr.WhenDiscoveredCode">When Disc: {{ddr.WhenDiscoveredCode}}</span>
            <span *ngIf="ddr.HowMalfunctionCode">How Mal: {{ddr.HowMalfunctionCode}}</span>
            <span *ngIf="ddr.ActionTakenCode">Action Taken: {{ddr.ActionTakenCode}}</span>
            <span *ngIf="ddr.CrewSize">Crew Size: {{ddr.CrewSize}}</span>
          </small>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="mat-row expanded newJob" [ngClass]="[row.CC]" *ngIf="!row.JCN">

  <div class="mat-cell JCN">
    <span>
      <mat-chip class="tag mat-chip mat-yellow mat-chip-selected">New Job</mat-chip>
    </span>
  </div>

  <div class="mat-cell WorkCenter">
    <span>{{row.WorkCenter}}</span>
  </div>

  <div class="mat-cell EquipID">
    <span>{{row.EquipID}}</span>
  </div>

  <div class="mat-cell Discrepancy">
    <span>
      <mat-chip *ngFor="let tag of row.tags" class="tag" [selected]="!!tag.style" [color]="tag.style">{{tag.title}}</mat-chip>
      {{row.Discrepancy}}</span>
  </div>

  <div class="mat-cell LastUpdate">
    <p>
      <span>Start Date</span>
      <span>{{row.timeStampPretty}}</span>
    </p>
    <p>
      <span>ETIC</span>
      <span>{{etic}}</span>
    </p>
    <p>
      <span>WUC</span>
      <span>{{row.WUC}}</span>
    </p>
    <p>
      <span>WD</span>
      <span>{{row.WhenDiscText}}</span>
    </p>
    <p>
      <span>DTC</span>
      <span>{{row.DownTimeCodeText}}</span>
    </p>
  </div>

  <div class="mat-cell ApprovalStatus">
    <span>
      <mdt-update-job [job]="row" (onStatusChange)="onStatusChange.next($event)"></mdt-update-job>
    </span>
  </div>

</div>