<div class="mat-row" [ngClass]="[row.CC, isExpanded ? 'expanded' : 'collapsed']" (click)="toggleExpanded(row)">

  <div class="mat-cell JCN"> {{row.JCN}} </div>

  <div class="mat-cell WorkCenter">
    <span>{{row.WorkCenter}}</span>
  </div>

  <div class="mat-cell EquipID">
    <span>{{row.EquipID}}</span>
  </div>

  <div class="mat-cell Discrepancy ellipses">
    <span>
      <mat-chip *ngFor="let tag of row.tags" class="tag" [selected]="!!tag.style" [color]="tag.style">{{tag.title}}</mat-chip>
      {{row.Discrepancy}}</span>
  </div>

  <div class="mat-cell LastUpdate ellipses">
    <span>
      <strong>{{row.timeStampPretty}}</strong> |
      <em>{{row.LastUpdate}}</em>
    </span>
  </div>

  <div class="mat-cell ETIC" *ngIf="!isExpanded">
    <span>{{row.ETIC}}</span>
  </div>

  <div class="mat-cell ETIC" *ngIf="isExpanded">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="row.eticDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>

  <div class="mat-cell ApprovalStatus">
    <mat-select placeholder="" [(ngModel)]="row.ApprovalStatus" name="status" (click)="$event.stopPropagation()" *ngIf="isExpanded">
      <mat-option *ngFor="let status of approvalOptions" [value]="status.value">
        {{status.label}}
      </mat-option>
    </mat-select>
    <span *ngIf="!isExpanded">{{row.ApprovalStatus}}</span>
  </div>

</div>

<div class="mat-row expanded-row {{row.CC}}" *ngIf="isExpanded">
  <mat-card class="job-info" style="flex:1">
    <mat-card-title>Job Info</mat-card-title>
    <mat-card-content>
      <!-- <dl>
        <dt>When Discovered</dt>
        <dd>{{row.WhenDiscText}}</dd>
        <dt>Delay Code</dt>
        <dd>{{row.DelayCodeText}}</dd>
        <dt>Down Time</dt>
        <dd>{{row.DownTimeCodeText}}</dd>
      </dl> -->
    </mat-card-content>
  </mat-card>

  <mat-card class="job-history" style="flex:3">
    <mat-card-title>History</mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

</div>