.mat-icon-ux {
    width: 100px;
}

.icon {
    font-size: 48px;
}

.ETIC {
    mat-datepicker-toggle {
        margin-left: -4em;
    }
}

.JCN,
.ApprovalStatus {
    font-weight: 600!important;
}

.Discrepancy {
    font-weight: 500!important;
}

.CFPComments {
    font-style: italic;
}

.JCN {
    position: relative;
    span {
        display: block;
        &.small {
            position: absolute;
            bottom: .25em;
            font-size: .75em;
            font-weight: 100;
            font-style: italic;
            color: #aaa;
        }
    }
}

.expanded-row {
    display: flex;
    padding: 1em;
    padding-top: 2em;
    td {
        display: flex;
        mat-card {
            background: #eee;
            &.job-info {
                flex: 1;
            }
            &.job-history {
                flex: 3;
            }
        }
    }
}

.tag {
    padding: 2px 10px;
    border-radius: 16px;
    margin-right: 5px;
}

.newJob {
    .LastUpdate {
        display: inline-block!important;
        p {
            span {
                display: inline-block;
                vertical-align: top;
                &:first-child {
                    width: 5em;
                    padding-right: 1%;
                    text-align: right
                }
                &:last-child {
                    width: calc(96% - 5em);
                    padding-left: 1%;
                    text-align: left;
                    border-left: 1px solid white;
                    font-weight: 600;
                }
            }
        }
    }
}

.job-details {
    .job-info,
    .job-history {}
    .job-info {
        width: 30%;
    }
    .job-history {
        width: 70%;
        mat-card-content {
            display: flex;
            flex-direction: column;
            .ddr-row {
                flex-direction: row;
                display: flex;
                border-bottom: 2px solid #ddd;
                padding-bottom: 1em;
                margin-bottom: 1em;
                .ddr {
                    flex: 1;
                    font-size: 3em;
                    color: #ccc;
                    align-self: center;
                    font-variant: small-caps;
                }
                .data {
                    flex: 6;
                    flex-direction: column;
                    small {
                        float: right;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}