.mat-icon-ux {
    width: 100px;
}

.icon {
    font-size: 48px;
}

.JCN {
    
}

.WorkCenter {
    
}

.EquipID {
    
}

.Discrepancy {
    
}

.LastUpdate {
    
}

.ETIC {

    mat-datepicker-toggle {
        margin-left: -4em;
    }
}

.ApprovalStatus {

}

.JCN,
.ApprovalStatus {
    font-weight: 600!important;
}

.Discrepancy {
    font-weight: 500!important;
}

.CFPComments {
    font-style: italic;
}

.JCN button {
    padding: 0;
    margin-left: -10px;
}

.expanded-row {
    display: flex;
    padding: 1em;
    padding-top: 2em;
    td {
        display: flex;
        mat-card {
            background: #eee;
            &.job-info {
                flex: 1;
            }
            &.job-history {
                flex: 3;
            }
        }
    }
}