.last-imds-sync {
    font-size: .75em;
    font-style: italic;
    text-align: center;
    color: #eee;
}

.export-button {
    // color: #555;
}

.create-job-button {
    background-color: #FFC60C;
    margin-left: 1em;
    mat-icon {
        margin-top: -2px;
        font-size: 2em;
    }
}

.mat-icon-ux {
    width: 100px;
}

.icon {
    font-size: 48px;
}

.JCN,
.ApprovalStatus {
    font-weight: 600!important;
}

.Discrepancy {
    font-weight: 500!important;
}

.CFPComments {
    font-style: italic;
}

.JCN button {
    padding: 0;
    margin-left: -10px;
}

.gator-logo {
    display: inline-block;
    background-image: url("../../assets/gator-sm.png");
    width: 3em;
    height: 2em;
    background-size: contain;
    background-repeat: no-repeat;
}

.af-logo {
    display: inline-block;
    background-image: url("../../assets/af-white.png");
    width: 3em;
    height: 2em;
    background-size: contain;
    background-repeat: no-repeat;
}

.toggle-graph {
    position: absolute;
    z-index: 999;
    top: 20%;
    right: 0;
    transform: rotate(-90deg);
    margin: 0;
    margin-right: -3em;
    line-height: 0;
    height: 2em;
}