<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>{{appTitle}}</span>
    <span flex></span>
    <span class="julian-date">Julian Date: {{julianDate}}</span>
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="100">
      <md-card *ngIf="mdc">

        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
          <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
              <span class="md-title">
                  <button md-button>Button 1</button>
                  <button md-button>Button 2</button>
                  <button md-button>Button 3</button>
              </span>
          </span>
          <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)"
            flex>
          </td-search-box>
        </div>
        <md-divider></md-divider>
        <table td-data-table class="table--fixed">
          <thead>
            <th td-data-table-column *ngFor="let column of columns" [numeric]="column.numeric" [ngClass]="column.name">
              {{column.label}}
            </th>
          </thead>
          <tbody>
            <td-expansion-panel *ngFor="let row of filteredData" [ngClass]="row.CC" disableRipple>
              <ng-template td-expansion-panel-header>
                <tr td-data-table-row>
                  <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric" [ngClass]="column.name">
                    <button md-button md-raised color="primary" *ngIf="column.name === 'JCN'" (click)="$event.stopPropagation()">{{row[column.name]}}</button>
                    <span *ngIf="column.name !== 'JCN'" [ngClass]="column.styles"> {{column.format ? column.format(row[column.name]) : row[column.name]}}</span>
                  </td>
                </tr>
              </ng-template>
              <div class="expanded-row">

                <md-card class="job-info">
                  <md-card-title>Job Info</md-card-title>
                  <md-card-content>
                    <form class="example-form">
                      <md-form-field class="example-full-width">
                        <input mdInput placeholder="Company (disabled)" disabled value="Google">
                      </md-form-field>

                      <p>
                        <md-form-field class="example-full-width">
                          <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
                        </md-form-field>
                        <md-form-field class="example-full-width">
                          <textarea mdInput placeholder="Address 2"></textarea>
                        </md-form-field>
                      </p>

                    </form>
                  </md-card-content>
                </md-card>

                <md-card class="job-history">
                  <md-card-title>History</md-card-title>
                  <md-card-content>
                    
                  </md-card-content>
                </md-card>


                <!--   "EquipID": "CL341",
  "JCN": "17236A039",
  "StartDate": "17256",
  "StartTime": "1000",
  "StopDate": "17256",
  "StopTime": "1005",
  "DownTimeCode": "E",
  "WUC": "03156",
  "CC": "Red",
  "WhenDISC": "P",
  "NameUserID": "TURNEYM1",
  "DelayCode": "V",
  "WorkCenter": "51NT",
  "Discrepancy": "56 Day PMI",
  "LastUpdate": "13-SEP-17 NO CHANGE MICHAEL.TURNEY 51NT",
  "ETIC": "09/29/2017",
  "Location": "Home",
  "ApprovalStatus": "Reviewed",
  "CFPComments": null,
  "LastModifier": "Connor Henner<br/>09/13/2017 19:15",
  "CS": "2",
  "Id": 13504,
  "Modified": "/Date(1505330149000)/",
  "ModifiedById": 20,
  "dateRange": "9/13/2017, 1000 - 9/13/2017, 1005" -->
              </div>
            </td-expansion-panel>
          </tbody>
        </table>

        <div class="md-padding" *ngIf="filteredData.length < 1" layout="row" layout-align="center center">
          <h3>No results to display.</h3>
        </div>

      </md-card>

    </div>

  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Developed by the 5 CBCS/SCS, Robins AFB, GA.</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>
    </div>
  </td-layout-footer>
</td-layout-nav>