.last-imds-sync {
    font-size: .75em;
    font-style: italic;
    text-align: center;
    color: #eee;
}
.export-button {
    color: #555;
}
.mat-icon-ux {
    width: 100px;
}

.icon {
    font-size: 48px;
}

.JCN,
.ApprovalStatus {
    font-weight: 600!important;
}

.Discrepancy {
    font-weight: 500!important;
}

.CFPComments {
    font-style: italic;
}

.JCN button {
    padding: 0;
    margin-left: -10px;
}