<h2 mat-dialog-title [ngClass]="job.value.CC">Create a New Job</h2>

<mat-dialog-content>
  <form [formGroup]="job" autocomplete="true">

    <div class="td-dynamic-element-wrapper">
      <mat-button-toggle-group formControlName="CC">
        <mat-button-toggle value="A" class="amber">
          Amber Job
        </mat-button-toggle>
        <mat-button-toggle value="R" class="red">
          Red Job
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <br>
    <br>

    <div class="td-dynamic-element-wrapper flex-group">

      <mat-form-field class="w20 uppercase">
        <mat-select placeholder="Workcenter" required panelClass="workcenter" formControlName="WorkCenter">
          <mat-option *ngFor="let workcenter of workcenters|async" [value]="workcenter">
            {{workcenter}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w20 uppercase">
        <input autocomplete="true" spellcheck="false" matInput maxlength="8" placeholder="Equipment ID" formControlName="EquipID"
          required>
        <mat-error>Please use only letters and numbers.</mat-error>
      </mat-form-field>

      <mat-form-field class="w20 uppercase">
        <input autocomplete="true" spellcheck="false" matInput maxlength="8" placeholder="Work Unit Code" formControlName="WUC" required>
        <mat-error>Please use only letters and numbers.</mat-error>
      </mat-form-field>

      <mat-form-field class="w30">
        <mat-select placeholder="When Discovered" required formControlName="WhenDiscovered">
          <mat-option *ngFor="let key of keys(whenDiscovered)" [value]="key">
            <strong>{{key}}</strong>&nbsp;&nbsp;{{ whenDiscovered[key] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <br>

    <div class="td-dynamic-element-wrapper flex-group">

      <mat-form-field class="w20">
        <input matInput [matDatepicker]="startdate" placeholder="Start Date" required formControlName="StartDate">
        <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
        <mat-datepicker #startdate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w20 start-time-field">
        <mat-select placeholder="Start Time" required panelClass="start-time" formControlName="StartTime">
          <mat-option *ngFor="let time of timePicker" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w20">
        <input matInput [matDatepicker]="etic" placeholder="ETIC Date" required formControlName="ETIC">
        <mat-datepicker-toggle matSuffix [for]="etic"></mat-datepicker-toggle>
        <mat-datepicker #etic></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w30">
        <mat-select placeholder="Down Time Code" required formControlName="DownTimeCode">
          <mat-option *ngFor="let key of keys(downTimeCodes)" [value]="key">
            <strong>{{key}}</strong>&nbsp;&nbsp;{{ downTimeCodes[key] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <br>

    <div class="td-dynamic-element-wrapper">
      <mat-form-field class="w100">
        <textarea spellcheck="true" matInput formControlName="Discrepancy" placeholder="Discrepancy" matTextareaAutosize matAutosizeMinRows="1"
          matAutosizeMaxRows="7" required></textarea>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="job.invalid" mat-raised-button color="primary" (click)="createJob()">Continue</button>
</mat-dialog-actions>